<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}"/>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}"/>
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Roboto:300,500"/>

    <meta name="theme-color" content="#1e2834">

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

{{!-- The blog navigation links --}}
{{navigation}}

<div class="site-wrapper">

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

    {{!-- The tiny footer at the very bottom --}}
    <footer class="site-footer clearfix">
        <div class="social">
            <a rel="noreferrer noopener" target="_blank" href="https://twitter.com/allcraftio">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 298 243">
                    <g transform="translate(-0.18 -0.86)">
                        <path d="m267.86 69.08c0-2.646-0.05-5.281-0.17-7.903 11.94-8.63 22.31-19.4 30.5-31.66-10.96 4.869-22.75 8.147-35.12 9.625 12.63-7.569 22.32-19.542 26.89-33.816-11.81 7.003-24.89 12.092-38.82 14.84-11.16-11.884-27.04-19.316-44.63-19.316-33.77-0.0005-61.15 27.38-61.15 61.132 0 4.797 0.54 9.464 1.59 13.94-50.816-2.556-95.875-26.886-126.03-63.88-5.252 9.036-8.28 19.532-8.28 30.73 0 21.212 10.794 39.938 27.208 50.894-10.031-0.31-19.454-3.064-27.69-7.647-0.009 0.256-0.009 0.506-0.009 0.78 0 29.611 21.075 54.331 49.051 59.931-5.137 1.4-10.543 2.16-16.122 2.16-3.933 0-7.766-0.39-11.491-1.11 7.784 24.3 30.355 41.97 57.115 42.47-20.926 16.4-47.287 26.17-75.937 26.17-4.9287 0-9.798-0.28-14.584-0.85 27.059 17.35 59.189 27.47 93.722 27.47 112.46 0 173.96-93.17 173.96-173.96z"></path>
                    </g>
                </svg>
            </a>
            <a href="https://www.linkedin.com/company/10992814" rel="noreferrer noopener" target="_blank">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 438.536 438.535">
                    <g>
                        <g>
                            <rect x="5.424" y="145.895" width="94.216" height="282.932"/>
                            <path d="M408.842,171.739c-19.791-21.604-45.967-32.408-78.512-32.408c-11.991,0-22.891,1.475-32.695,4.427
			c-9.801,2.95-18.079,7.089-24.838,12.419c-6.755,5.33-12.135,10.278-16.129,14.844c-3.798,4.337-7.512,9.389-11.136,15.104
			v-40.232h-93.935l0.288,13.706c0.193,9.139,0.288,37.307,0.288,84.508c0,47.205-0.19,108.777-0.572,184.722h93.931V270.942
			c0-9.705,1.041-17.412,3.139-23.127c4-9.712,10.037-17.843,18.131-24.407c8.093-6.572,18.13-9.855,30.125-9.855
			c16.364,0,28.407,5.662,36.117,16.987c7.707,11.324,11.561,26.98,11.561,46.966V428.82h93.931V266.664
			C438.529,224.976,428.639,193.336,408.842,171.739z"/>
                            <path d="M53.103,9.708c-15.796,0-28.595,4.619-38.4,13.848C4.899,32.787,0,44.441,0,58.529c0,13.891,4.758,25.505,14.275,34.829
			c9.514,9.325,22.078,13.99,37.685,13.99h0.571c15.99,0,28.887-4.661,38.688-13.99c9.801-9.324,14.606-20.934,14.417-34.829
			c-0.19-14.087-5.047-25.742-14.561-34.973C81.562,14.323,68.9,9.708,53.103,9.708z"/>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
        <div class="contact">
            <a href="tel:+33185090071">01 85 08 00 71</a>
            <span class="separator">&nbsp;|&nbsp;</span>
            <a href="https://allcraft.io/contact">Nous contacter</a>
            <div class="address">
                <a href="https://www.google.fr/maps/place/156+Boulevard+Haussmann,+75008+Paris/@48.8755622,2.3088289,17z"
                   target="_blank" rel="noreferrer noopener">156 boulevard Haussmann, 75008 Paris, France</a>
            </div>
        </div>
        <div class="footer-logo">
            <svg width="250" height="135" viewBox="0 0 160 45" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="logo" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Page-1"
                       transform="translate(22.632075, 22.377058) rotate(39.000000) translate(-22.632075, -22.377058) translate(6.632075, 7.377058)">
                        <path d="M3.16329243,27.225826 C2.70046088,27.225826 2.30883418,26.8530806 2.30883418,26.3738365 C2.30883418,25.8945924 2.68265966,25.5218471 3.16329243,25.5218471 C3.6439252,25.5218471 4.01775069,25.8945924 4.01775069,26.3738365 C4.01775069,26.8530806 3.6439252,27.225826 3.16329243,27.225826 M3.16329243,23.5528914 C1.60364971,23.5528914 0.334173071,24.8187001 0.334173071,26.3738365 C0.334173071,27.9289729 1.60364971,29.1947817 3.16329243,29.1947817 C4.72293516,29.1947817 5.9924118,27.9289729 5.9924118,26.3738365 C5.9924118,24.8187001 4.72293516,23.5528914 3.16329243,23.5528914"
                              id="Fill-1" fill="#1E2834"></path>
                        <path d="M15.88314,21.9028245 C13.839395,21.9028245 12.189625,20.2530545 12.189625,18.2093095 C12.189625,16.1655645 13.839395,14.5157944 15.88314,14.5157944 C17.926885,14.5157944 19.5766551,16.1655645 19.5766551,18.2093095 C19.5766551,20.2530545 17.9022616,21.9028245 15.88314,21.9028245 M15.88314,11.7093095 C12.30814,11.7093095 9.38314003,14.6343095 9.38314003,18.2093095 C9.38314003,21.7843095 12.30814,24.7093095 15.88314,24.7093095 C19.45814,24.7093095 22.38314,21.7843095 22.38314,18.2093095 C22.38314,14.6343095 19.45814,11.7093095 15.88314,11.7093095"
                              id="Fill-3" fill="#D4BD94"></path>
                        <path d="M28.6602761,27.0090151 C28.1974446,27.0090151 27.8058179,26.6362698 27.8058179,26.1570257 C27.8058179,25.6777816 28.1796434,25.3050362 28.6602761,25.3050362 C29.1409089,25.3050362 29.5147344,25.6777816 29.5147344,26.1570257 C29.5147344,26.6362698 29.1231077,27.0090151 28.6602761,27.0090151 M28.6602761,23.3360805 C27.1006334,23.3360805 25.8311568,24.6018892 25.8311568,26.1570257 C25.8311568,27.7121621 27.1006334,28.9779708 28.6602761,28.9779708 C30.2199189,28.9779708 31.4893955,27.7121621 31.4893955,26.1570257 C31.4893955,24.6018892 30.1836481,23.3360805 28.6602761,23.3360805"
                              id="Fill-7" fill="#1E2834"></path>
                        <path d="M16.7300645,3.1379761 C16.7300645,3.61722017 16.356239,3.98996556 15.8756063,3.98996556 C15.3949735,3.98996556 15.021148,3.61722017 15.021148,3.1379761 C15.021148,2.65873203 15.3949735,2.28598664 15.8756063,2.28598664 C16.3384378,2.28598664 16.7300645,2.65873203 16.7300645,3.1379761 Z M15.8756063,5.95892126 C17.435249,5.95892126 18.7047256,4.69311253 18.7047256,3.1379761 C18.7047256,1.58283967 17.435249,0.317030941 15.8756063,0.317030941 C14.3159635,0.317030941 13.0464869,1.58283967 13.0464869,3.1379761 C13.0464869,4.69311253 14.3159635,5.95892126 15.8756063,5.95892126"
                              id="Fill-9" fill="#1E2834"></path>
                        <rect id="Rectangle" fill="#1E2834" x="15.4196443" y="8.25389352" width="1.4709166"
                              height="1.46666667" rx="0.733333333"></rect>
                        <rect id="Rectangle" fill="#1E2834"
                              transform="translate(8.096653, 23.030109) rotate(56.000000) translate(-8.096653, -23.030109) "
                              x="7.36119499" y="22.2967761" width="1.4709166" height="1.46666667"
                              rx="0.733333333"></rect>
                        <rect id="Rectangle" fill="#1E2834"
                              transform="translate(23.912653, 22.899704) rotate(-59.000000) translate(-23.912653, -22.899704) "
                              x="23.1771944" y="22.1663703" width="1.4709166" height="1.46666667"
                              rx="0.733333333"></rect>
                    </g>
                    <path d="" id="Path-6" stroke="#979797"></path>
                    <g id="Group-2" transform="translate(34.831082, 9.533333)">
                        <path d="M67.0155381,7.05026667 L70.703126,7.05026667 L70.703126,9.27666667 C71.0188844,8.87186464 71.469961,8.50080169 72.0563693,8.16346667 C72.552561,7.89359865 73.206622,7.64060118 74.0185721,7.40446667 C74.8305221,7.16833215 75.8454444,7.05026667 77.0633694,7.05026667 L77.0633694,10.7272 C76.4544069,10.7272 75.777792,10.7834217 75.0335045,10.8958667 C74.289217,11.0083117 73.5956868,11.1938432 72.952893,11.4524667 C72.3100992,11.7110902 71.7744458,12.0540423 71.3459166,12.4813333 C70.9173874,12.9086244 70.703126,13.437108 70.703126,14.0668 L70.703126,25.0301333 L67.0155381,25.0301333 L67.0155381,7.05026667 Z M92.6580272,24.9333333 L96.4809395,24.9333333 L96.4471084,13.1604 C96.4132773,9.2136 93.808284,6.85226667 89.1734258,6.85226667 C85.7564865,6.85226667 83.9296081,7.62813333 81.4261081,9.1124 L83.0161689,11.8110667 C84.8092163,10.5966667 86.6022636,9.98946667 88.3276488,9.98946667 C91.1694596,9.98946667 92.6241962,11.3388 92.6241962,13.5989333 L92.6241962,14.1386667 L87.177392,14.1386667 C82.8470135,14.1724 80.3773445,16.2638667 80.3773445,19.536 C80.3773445,22.7069333 82.8131824,25.102 86.7037568,25.102 C89.3087501,25.102 91.3724461,24.3261333 92.6580272,22.7406667 L92.6580272,24.9333333 Z M87.5157028,22.0322667 C85.3505136,22.0322667 84.0311014,20.9865333 84.0311014,19.3673333 C84.0311014,17.6469333 85.2151892,16.9722667 87.7525204,16.9722667 L92.6241962,16.9722667 L92.6241962,18.6252 C92.4212097,20.5817333 90.2898515,22.0322667 87.5157028,22.0322667 L87.5157028,22.0322667 Z M110.963584,3.57573333 C110.038863,3.57573333 109.311503,3.60946633 108.78148,3.67693333 C108.251457,3.74440034 107.851126,3.86246582 107.580476,4.03113333 C107.309826,4.19980084 107.135034,4.43030965 107.056094,4.72266667 C106.977155,5.01502368 106.937686,5.38608664 106.937686,5.83586667 L106.937686,7.62373333 L110.963584,7.62373333 L110.963584,11.3006667 L106.937686,11.3006667 L106.937686,25.0301333 L103.250098,25.0301333 L103.250098,11.3006667 L100.340625,11.3006667 L100.340625,7.62373333 L103.216267,7.62373333 L103.216267,5.7684 C103.216267,4.35159292 103.486913,3.26089271 104.028213,2.49626667 C104.569513,1.73164062 105.234851,1.17504619 106.024246,0.826466667 C106.813642,0.477887146 107.653772,0.269867004 108.544662,0.2024 C109.435552,0.134932996 110.241851,0.1012 110.963584,0.1012 L110.963584,3.57573333 Z M124.851979,7.59 L124.851979,11.2669333 L120.82608,11.2669333 L120.82608,25.0301333 L117.07083,25.0301333 L117.07083,11.2669333 L114.229019,11.2669333 L114.229019,7.59 L117.07083,7.59 L117.07083,1.3156 L120.82608,0 L120.82608,7.59 L124.851979,7.59 Z"
                              id="AllCraft" fill="#D4BD94"></path>
                        <polygon id="Path" fill="#1E2834"
                                 points="38.4404879 25.0301333 34.7529 25.0301333 34.7529 1.31666705 38.4404879 0"></polygon>
                        <polygon id="Path-9" fill="#1E2834"
                                 points="0 25.0066655 3.82438092 25.0066655 11.0318745 8.13999888 18.1658178 25.0066655 22.2108384 25.0066655 11.0318745 0"></polygon>
                        <path d="M16.1709836,19.5897823 C14.5892769,20.3187735 12.9013583,20.6832637 11.1071774,20.6832637 C9.35303529,20.6832637 7.68887415,20.3505947 6.11464406,19.6852467 C6.03495108,19.6515645 5.95577686,19.6171887 5.87712138,19.5821194 L7.34556249,16.1412534 C7.45664927,16.1967451 7.56920978,16.2503735 7.68324406,16.3021386 C8.75147162,16.7870532 9.87028266,17.0295068 11.0397107,17.0295068 C12.2316278,17.0295068 13.3616832,16.7814147 14.4299107,16.285223 C14.5223077,16.2423046 14.6137372,16.1981629 14.7041992,16.1527979 L16.1709836,19.5897823 Z"
                              id="Combined-Shape" fill="#1E2834"></path>
                        <polygon id="Path" fill="#1E2834"
                                 points="29.6931701 25.0301333 26.0055822 25.0301333 26.0055822 1.31666705 29.6931701 0"></polygon>
                    </g>
                    <path d="M97.7503405,32.4382667 C96.6451863,33.0904477 95.6697332,33.573954 94.8239519,33.8888 C93.9781707,34.203646 93.081656,34.406044 92.1343809,34.496 C90.262385,34.698401 88.4919095,34.5016252 86.8229011,33.9056667 C85.1538927,33.3097081 83.6878938,32.4382724 82.4248604,31.2913333 C81.1618271,30.1443943 80.1638201,28.7782079 79.4308097,27.1927333 C78.6977993,25.6072587 78.3312995,23.9149868 78.3312995,22.1158667 C78.3312995,20.3617246 78.6639685,18.6975634 79.3293165,17.1233333 C79.9946644,15.5491032 80.9306483,14.1772947 82.1372962,13.0078667 C83.3439442,11.8384386 84.7761123,10.9445142 86.4338436,10.3260667 C88.0915749,9.70761913 89.9240735,9.46586599 91.9313944,9.6008 C92.7207903,9.645778 93.4707051,9.77508782 94.1811614,9.98873333 C94.8916177,10.2023788 95.5400402,10.4553763 96.1264486,10.7477333 L94.5025567,13.9861333 C93.7582691,13.6487983 93.1267619,13.435156 92.6080161,13.3452 C92.0892702,13.255244 91.5028707,13.2102667 90.8487998,13.2102667 C89.6759831,13.2102667 88.5539301,13.4520198 87.4826072,13.9355333 C86.4112842,14.4190469 85.4696619,15.065596 84.6577118,15.8752 C83.8457618,16.684804 83.1973392,17.6237058 82.7124246,18.6919333 C82.22751,19.7601609 81.9850564,20.8789719 81.9850564,22.0484 C81.9850564,23.2403171 82.2331485,24.3703724 82.7293402,25.4386 C83.2255319,26.5068276 83.8852314,27.4457293 84.7084585,28.2553333 C85.5316856,29.0649374 86.4733079,29.7114865 87.5333538,30.195 C88.5933997,30.6785135 89.6985373,30.9202667 90.8487998,30.9202667 C91.277329,30.9202667 91.6776595,30.9034002 92.0498032,30.8696667 C92.421947,30.8359332 92.7940852,30.7684672 93.1662289,30.6672667 C93.5383727,30.5660662 93.9217878,30.425512 94.3164857,30.2456 C94.7111836,30.065688 95.1566218,29.829557 95.6528134,29.5372 L97.7503405,32.4382667 Z"
                          id="Path" fill="#D4BD94"></path>
                </g>
            </svg>
        </div>
        <div class="poweredby">
            Proudly published with <a href="https://ghost.org">Ghost</a>
        </div>
    </footer>

</div>

{{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
<script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
{{!-- Ghost outputs important scripts and data with this tag --}}
{{ghost_foot}}
{{!-- Fitvids makes video embeds responsive and awesome --}}
<script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
{{!-- The main JavaScript file for Casper --}}
<script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
